@layout('layouts.master')

@section('content')

@include('layouts.welcome')

<div class="container-fluid p-0">
  <img src="imgs/home-photo.jpg" class="img-fluid" width=100%; height=auto;>
</div>
@endsection