<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ffffff;">
  <div class="container">
    <a href="../" class="navbar-brand">
      <img src="{{ assetsUrl('imgs/lv.png') }}" height="60" alt="CoolBrand">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
          <!-- Funcionário -->
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownFuncionarios" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuários
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownFuncionarios">
                <a class="dropdown-item" href="{{ route('user.funcionarioIndex') }}">Funcionários</a>
                <a class="dropdown-item" href="{{ route('user.clienteIndex') }}">Clientes</a>
                <a class="dropdown-item" href="{{ route('user.create') }}">Novo Usuário</a>
              </div>
          </div>
          
          <!-- Consulta -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownConsultas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Consultas
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownConsultas">
              <a class="dropdown-item" href="">Consultas</a>
              <a class="dropdown-item" href="">Marcar Consulta</a>
            </div>
          </div>
          <!-- Sala -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownSalas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Sala
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownSalas">
              <a class="dropdown-item" href="{{ route('sala.index') }}">Salas</a>
              <a class="dropdown-item" href="{{ route('sala.create') }}">Cadastrar Sala</a>
            </div>
          </div>
          <!-- Medicamento -->
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownConsultas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Medicamentos
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownConsultas">
                <a class="dropdown-item" href="{{ route('medicamento.index') }}">Medicamentos</a>
                <a class="dropdown-item" href="{{ route('medicamento.create') }}">Cadastrar Medicamentos</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</nav>